@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'FontExtraBold';
    src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontSemiBold';
    src: url('/fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontBold';
    src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.home p {
    color: #9ca3af;
    font-family: FontSemiBold;
    font-size: 1.1rem;
}

.dashboard span {
    color: #9ca3af;
    font-family: FontSemiBold;
    margin-bottom: 8px;
}

.active {
    background-color: #60a5fa;
}
